# ignore standards
/target
settings.json
recipes.db
*.tex
*.json
*.odt
*.zip

# style templates
*.sty
!templates/*.sty

# ignore tex output
*.aux
*.log
*.pdf

# Rezepte
!rezepte/rezepte_import.json

# ignore icons
*.png
*.jpg
!icon/*.png
!icon/*.jpg